body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #000000;
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #ff0000 !important;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('vote5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 0 5%;
    filter: brightness(0.6);
}

.home-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #ff0202;
    animation: fadeInLeft 2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.lead_home {
    color: #fff;
    background-color: rgba(212, 75, 75, 0.3);
    display: inline-block;
    padding: 0 15px;
    font-size: 1.25rem;
    margin-top: 20px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #130a0a;
    border-color: #ffffff;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #ff0101;
    border-color: #000000;
    transform: scale(1.1);
}

#flash-messages {
    max-width: 400px;
    margin: 20px auto;
}

.register-page {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.register-page .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}

.login-page {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.login-page .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    border-width: 2px;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
